 <!-- Carregando Arquivos estáticos -->
{% load static %}

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <!-- Footer Social Info -->
                <div class="top-social-info text-right">
                    <a href="https://www.linkedin.com/in/samuelmorais/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/samuel-morais"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
                <!-- Footer Logo -->
                <div class="footer-logo">
                    <a href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.jpg' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->