 <!-- Estendendo base,html -->
{% extends 'base.html' %}
 <!-- Carregando Arquivos estáticos -->
{% load static %}
 <!-- Estendendo e pegando o conteúdo dos Arq estáticos de  base,html -->
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Cursos</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'site.css' %}" ">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/click.png' %}"" alt="">
    </div>

    {% include 'partials/_busca.html'%}
      

     <!--  incluindo as partiais de menu-->
    {% include 'partials/_menu.html'%}
      
    <!-- Receipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="receipe-slider owl-carousel">
                    {% if curso.foto_curso == '' %}
                        <img src="{% static 'img/bg-img/cursos.jpg' %}">
                    {% else %}
                        <img src="{{ curso.foto_curso.url }}" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>{{curso.data_curso}}</span>
                            <h2>{{curso.nome_curso}} </h2>
                            <div class="receipe-duration">
                                <h6>Carga Horária: {{curso.carga_horaria}} horas</h6>
                                <h6>Categoria: {{curso.categoria}}</h6>
                                <h6>Por: {{curso.pessoa}}</h6>

                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <p> {{curso.ementa_do_curso}} </p>
                        </div>
                    </div>

                    <!-- Ingredientes -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Informações do  Curso</h4>
                            <div class="Descrição">
                                <p>{{curso.informacoes }}</p>
                            </p>
                            </div>
                        </div>
                    </div>

                    
               
 <!-- Incluindo Partials footer -->
 {% include 'partials/_footer.html'%}
 <!-- finalizando arquivos estáticos-->
{% endblock %}